<md-message ng-hide=":: $post.post">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</md-message>

<md-content ng-show=":: $post.post">
    <div class="container">
        <md-card>
            <md-card-content class="post post-single">
                <div layout="row" layout-align="start center">
                    <img ng-src="{{:: $post.post.author.photo.url }}/40x40"
                         class="md-user-avatar">

                    <div class="post-author" flex>
                        <a ui-sref="profile(:: { user: $post.post.author.username })">
                            {{:: $post.post.author | username }}
                        </a>
                    </div>

                    <follow-button user="$post.post.author"></follow-button>
                </div>
                <post-content post=":: $post.post"></post-content>

                <time class="post-date" datetime="{{:: $post.post.createdAt }}">
                    {{:: $post.post.createdAt | date: $post.dateFormat }}
                </time>

                <post-actions post=":: $post.post"
                              actions=":: [ 'like', 'location-full' ]">
                </post-actions>
            </md-card-content>
        </md-card>
    </div>
</md-content>