<!-- Mensagem de erro -->
<md-message ng-if=":: $profile.error">
    <div class="md-display-3">
        <md-icon md-font-icon="mdi-account-alert" class="md"></md-icon>
    </div>
    <p>Ei, o papagaio {{ $profile.error.user | username }} ainda não nasceu... :(</p>
</md-message>

<!-- Perfil e postagens -->
<md-content flex ng-if="!$profile.error">
    <div class="container" layout-gt-md="row" layout-fill>
        <div flex-gt-md="33">
            <md-card ng-if="!$profile.user">
                <md-card-content>
                    <md-message>
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </md-message>
                </md-card-content>
            </md-card>

            <md-card class="profile" ng-if="$profile.user" layout="column" layout-md="row">
                <div class="profile-cover-container">
                    <div class="profile-cover">
                        <img ng-src="{{:: $profile.user.photo.url }}/400x300" class="md-card-image">
                    </div>

                    <div class="profile-info-title" layout="column" layout-align="center center">
                        <!--
                        Foto para resoluções de 440-600px de largura - a capa fica muito grande,
                        então é bom que a foto ocupe mais espaço mesmo.
                        -->
                        <img ng-src="{{:: $profile.user.photo.url }}/120x120" class="md-user-avatar"
                             ng-if="$mdMedia( '(min-width: 440px) and (max-width: 600px)' )">

                        <!--
                        Foto para resoluções diferentes do intervalo 440-600px tem o tamanho ideal se
                        comparado à foto de capa do perfil.
                        -->
                        <img ng-src="{{:: $profile.user.photo.url }}/96x96" class="md-user-avatar"
                             ng-if="!$mdMedia( '(min-width: 440px) and (max-width: 600px)' )">

                        <h2>{{:: $profile.user | username }}</h2>
                    </div>
                </div>

                <md-card-content>
                    <md-list class="profile-info-list">
                        <md-list-item>
                            <md-icon md-font-icon="mdi-account-multiple"></md-icon>
                            <p>{{:: $profile.user.followersCount }} seguidores</p>
                        </md-list-item>
                        <md-list-item>
                            <md-icon md-font-icon="mdi-account-star"></md-icon>
                            <p>{{:: $profile.user.followingCount }} seguindo</p>
                        </md-list-item>
                        <md-list-item>
                            <md-icon md-font-icon="mdi-comment"></md-icon>
                            <p>{{:: $profile.posts.length }} posts</p>
                        </md-list-item>
                        <md-list-item>
                            <md-icon md-font-icon="mdi-calendar"></md-icon>
                            <p>Membro desde {{ $profile.user.createdAt | date: $profile.memberSinceFormat }}</p>
                        </md-list-item>
                    </md-list>

                    <follow-button user=":: $profile.user"></follow-button>
                </md-card-content>
            </md-card>
        </div>
        <div flex layout="column" ng-if="$profile.posts.length === 0">
            <md-card flex>
                <!-- Nenhum post -->
                <md-message ng-show="$profile.posts.length === 0">
                    <div class="md-display-3">
                        <md-icon md-font-icon="mdi-comment-multiple-outline"></md-icon>
                    </div>
                    <p>Parece que o papagaio {{ $profile.user | username }} ainda não postou nada...</p>
                </md-message>
            </md-card>
        </div>
        <div flex ng-if="$profile.posts.length !== 0">
            <md-card>
                <md-card-content ng-if="!$profile.posts">
                    <md-message>
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </md-message>
                </md-card-content>

                <timeline posts="$profile.posts"></timeline>
            </md-card>
        </div>
    </div>
</md-content>

<post-button class="post-button-fab"></post-button>