.profile {
  position: relative;

  md-card-content {
    z-index: 1;
  }
}

.profile-cover-container {
  position: relative;
}

.profile-cover {
  line-height: 0;

  .md-card-image {
    -webkit-filter: blur( 2px );
    filter: blur( 2px );
  }

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: fade( #000, 40% );
    content: "";
  }
}

.profile-info-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: #fff;
  text-shadow: 2px 2px 1px fade( #000, 50% );

  img {
    width: initial;
  }
}

.profile-info-list {
  margin-left: -8px;
  margin-right: -8px;
}