<!DOCTYPE html>
<html lang="pt-BR" ng-app="app" ng-controller="AppController">
    <head>
        <title ng-bind="$system.title() || 'Papagaio'">Papagaio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, user-scalable=no">
        <base href="{{ baseUrl() }}/">
        <link rel="stylesheet" href="asset/css">
        <link rel="manifest" href="manifest.json">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="icon" sizes="16x16" type="png" href="asset/favicon">
    </head>

    <body layout="column">
        <toolbar></toolbar>
        <md-content id="main" flex ui-view layout="column"></md-content>

        <script src="asset/js"></script>
        <script src="asset/html"></script>
    </body>
</html>