/* Pesquisa
   ============================================================================================== */

md-autocomplete.search-input {
  height: @toolbar-height;

  md-autocomplete-wrap {
    box-shadow: none;
  }

  input,
  md-autocomplete-wrap {
    height: @toolbar-height;
    font-size: 1em;
  }
}