/*
 * Menos que 600px o ngMaterial exibirá full width.
 * Além disso, soma a altura da toolbar + 8px de espaçamento que já tem do .md-top
 */
md-toast.md-toast-toolbar.md-top {
  @media ( min-width: 600px ) {
    top: @toolbar-height + 8px;
  }
}