// -------------------------------------------------------------------------------------------------
// Variáveis
// -------------------------------------------------------------------------------------------------

// Tema padrão
// -----------
@theme-default-50:    #D0F4DE;
@theme-default-100:   #BAF7D2;
@theme-default-200:   #9DF9C2;
@theme-default-300:   #81EFAD;
@theme-default-400:   #5EEA99;
@theme-default-500:   #57D389;
@theme-default-600:   #4DBC7A;
@theme-default-700:   #44A56B;
@theme-default-800:   #3A8E5C;
@theme-default-900:   #28603E;
@theme-default-A100:  #69FFA6;
@theme-default-A200:  #5EEA99;
@theme-default-A400:  #00FF67;
@theme-default-A700:  #00CC52;

// Tema warning
// ------------
@theme-warning-50:    #FFEBEE;
@theme-warning-100:   #FFCDD2;
@theme-warning-200:   #EF9A9A;
@theme-warning-300:   #E57373;
@theme-warning-400:   #EF5350;
@theme-warning-500:   #F44336;
@theme-warning-600:   #E53935;
@theme-warning-700:   #D32F2F;
@theme-warning-800:   #C62828;
@theme-warning-900:   #B71C1C;
@theme-warning-A100:  #FF8A80;
@theme-warning-A200:  #FF5252;
@theme-warning-A400:  #FF1744;
@theme-warning-A700:  #D50000;

// Fonte/icones
// ------------
@font-size:           16px;
@icon-size:           unit( 24px / @font-size, rem );

@action-factor:       .75;
@action-icon-size:    @icon-size * @action-factor;
@action-font-size:    @font-size * @action-factor;

// Toolbar
// -------
@toolbar-height:      64px;
@toolbar-counter-size:10px;

// Autocomplete
// ------------
@autocomplete-button: 20px;