// -------------------------------------------------------------------------------------------------
// Variáveis
// -------------------------------------------------------------------------------------------------
@list-minor-info-size: 0.75em;
@list-minor-info-color: #808080;

// -------------------------------------------------------------------------------------------------
// Regras
// -------------------------------------------------------------------------------------------------
.md-list-item-text time {
  font-size: @list-minor-info-size;
  color: @list-minor-info-color;
}