<form name="$login.form" novalidate ng-submit="$login.submit()">
    <md-message ng-if="$login.loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </md-message>

    <fieldset ng-disabled="$login.disabled">
        <md-input-container>
            <label>Usuário</label>
            <input type="text"
                   name="username"
                   required
                   ng-model="$login.username"
                   autofocus
            >

            <div ng-messages="$login.form.username.$error" ng-show="$login.form.username.$touched">
                <div ng-message="required">Campo obrigatório.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Senha</label>
            <input type="password" name="password" required
                   ng-model="$login.password">

            <div ng-messages="$login.form.password.$error" ng-show="$login.form.password.$touched">
                <div ng-message="required">Campo obrigatório.</div>
            </div>
        </md-input-container>

        <md-button class="md-raised md-primary" ng-disabled="$login.disabled">
            Entrar
        </md-button>
    </fieldset>
</form>