<md-content flex layout="row" class="home-container">
    <div class="container" layout="row" flex>
        <div layout="row" layout-align="center center" flex>
            <md-card flex-md="70" flex-lg="40">
                <md-card-content class="md-message-container">
                    <h2>Acessar o Papagaio</h2>
                    <p>Entre com sua conta e senha para continuar usando o Papagaio.</p>

                    <div ui-view="form"></div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>