<!-- Loading -->
<md-message ng-show="$timeline.loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</md-message>

<!-- Nenhum post -->
<md-message ng-if="$timeline.posts && !$timeline.posts.length">
    <div class="md-display-3">
        <md-icon md-font-icon="mdi-comment-multiple-outline"></md-icon>
    </div>
    <p>Ops, nenhum Papagaio cantou por aqui! Que tal criar um post agora?</p>
    <post-button>Criar post</post-button>
</md-message>

<!-- Lista de posts -->
<md-content flex ng-if="$timeline.posts.length">
    <div class="container" layout="row">
        <!-- Container de postagens -->
        <div flex>
            <md-card>
                <!--
                Até que esta issue esteja corrigida, não podemos usar o subheader sticky:
                https://github.com/angular/material/issues/3030
                -->
                <md-subheader ng-if="$timeline.hashtag" md-no-sticky>
                    Hashtag {{:: $timeline.hashtag | hashtag }}
                </md-subheader>
                <timeline posts="$timeline.posts"></timeline>
            </md-card>
        </div>

        <!-- Container de indicações para seguir -->
        <div flex="33" hide show-gt-md>
            <md-card ui-view="suggestions"></md-card>
        </div>
    </div>
</md-content>

<post-button class="post-button-fab"></post-button>