<md-card-content>
    <h3>Quem seguir</h3>

    <!-- Carregamento -->
    <md-message ng-if="!$suggestions.suggestions && !$suggestions.error">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </md-message>

    <!-- Sem sugestões -->
    <p ng-if="$suggestions.suggestions.length === 0">
        Nenhuma sugestão de papagaio para você ouvir cantar!
    </p>

    <!-- Lista de sugestões -->
    <md-list ng-if="$suggestions.suggestions.length"
             class="user-suggestions"
    >
        <md-list-item ng-repeat="user in $suggestions.suggestions">
            <img ng-src="{{:: user.photo.url }}/40x40"
                 alt="Foto de {{:: user | username }}"
                 class="md-avatar"
            >
            <p>
                <a ui-sref="profile(:: { user: user.username })">
                    {{:: user | username: true }}
                </a>
            </p>
        </md-list-item>
    </md-list>
</md-card-content>