<md-button class="md-icon-button" type="button"
           ng-if="!$loc.pos && !$loc.loading"
           ng-click="$loc.find()"
           ng-class="{ 'md-warn': $loc.error }">
    <md-icon md-font-icon="mdi-map-marker-off"></md-icon>

    <md-tooltip ng-if=":: !$loc.error">Localização desativada, clique para buscar</md-tooltip>
    <md-tooltip ng-if=":: $loc.error">Erro ao carregar a localização</md-tooltip>
</md-button>

<md-button class="md-icon-button" type="button" ng-if="$loc.loading">
    <md-progress-circular md-mode="indeterminate" md-diameter="24"></md-progress-circular>
    <md-tooltip>Carregando localização...</md-tooltip>
</md-button>

<md-button class="md-icon-button md-primary" type="button" ng-if=":: $loc.pos">
    <md-icon md-font-icon="mdi-map-marker"></md-icon>
    <md-tooltip>{{:: $loc.pos.description }}</md-tooltip>
</md-button>