<md-button class="md-fab md-fab-bottom-right"
           aria-label="Novo post"
           ng-click="$postButton.showForm( $event )"
           ng-if="$postButton.style === 'fab'"
>
    <md-icon md-font-icon="mdi-comment-plus-outline"></md-icon>
</md-button>

<md-button class="md-primary"
           ng-click="$postButton.showForm( $event )"
           ng-if="$postButton.style !== 'fab'"
>
    Criar post
</md-button>