<md-dialog flex-sm="80" flex-md="70" flex-lg="60" flex-gt-lg="50">
    <!-- Carregamento do envio do post -->
    <md-dialog-content layout="row" layout-align="center center" ng-show="$post.form.submiting">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </md-dialog-content>

    <!-- Precisa-se do layout="column" aqui para que o md-dialog-content funcione corretamente -->
    <form name="$post.form" layout="column" novalidate
          ng-submit="$post.submit()" ng-hide="$post.form.submiting">
        <md-dialog-content>
            <md-input-container>
                <label>O que está acontecendo?</label>
                <textarea ng-model="$post.post.text" required md-maxlength="150"></textarea>
            </md-input-container>
        </md-dialog-content>

        <div class="md-actions">
            <location-button ng-model="$post.post.location"></location-button>

            <label class="md-button">
                <md-icon md-font-icon="mdi-camera"></md-icon>
                <span ng-if="!$post.post.photo">Foto</span>
                <span ng-if="$post.post.photo">{{ $post.post.photo.name }}</span>

                <input type="file" accept="image/*" hide file-model="$post.post.photo">
            </label>

            <div flex></div>

            <md-button type="button" ng-click="$post.close()">
                Fechar
            </md-button>

            <md-button type="submit" class="md-primary md-raised"
                       title="{{ $post.form.$invalid ? 'Digite uma mensagem para postar' : '' }}"
                       ng-disabled="!$post.isValid()">
                Postar
            </md-button>
        </div>
    </form>
</md-dialog>