<div layout="row" layout-align="center center" ng-if=":: $follow.loading">
    <!-- Loading da ação de seguir -->
    <div ng-show="$follow.loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="24"></md-progress-circular>
    </div>

    <!-- Ações de seguir/deixar de seguir -->
    <div ng-hide="$follow.loading">

        <!-- Seguir -->
        <md-button type="button" class="md-primary md-raised"
                   ng-click="$follow.follow()" ng-hide="$follow.isFollowing">
            Seguir {{:: $profile.user | username }}
        </md-button>

        <!-- Deixar de seguir -->
        <md-button type="button" class="md-primary"
                   ng-click="$follow.unfollow()" ng-show="$follow.isFollowing">
            Deixar de seguir {{:: $follow.user | username }}
        </md-button>
    </div>
</div>