<md-content flex class="home-container">
    <div class="container">
        <div layout="column" layout-gt-md="row" layout-padding flex>
            <!-- Texto introdutório -->
            <div class="home-intro" flex flex-gt-md="35" layout="column">
                <h2>Bem vindo ao Papagaio!</h2>
                <p>Não fique na gaiola, compartilhe e acompanhe experiências entre seus amigos e o resto do mundo no Papagaio.</p>
            </div>

            <!-- Espaçador entre os forms e o texto introdutório -->
            <div flex hide show-gt-md></div>

            <!-- Formulários de login/signup (desktop) -->
            <div flex="35" hide show-gt-md>
                <md-card>
                    <md-card-content class="md-message-container" ui-view="login"></md-card-content>
                </md-card>
                <md-card>
                    <md-card-content class="md-message-container" ui-view="signup"></md-card-content>
                </md-card>
            </div>

            <!-- Acesso ao login/signup (mobile) -->
            <div flex hide-gt-md layout="row">
                <div flex layout="row" layout-align="center center">
                    <md-button ui-sref="signup"
                               class="md-accent md-raised">
                        Inscrever-se
                    </md-button>
                </div>
                <div flex layout="row" layout-align="center center">
                    <md-button ui-sref="login"
                               class="md-primary md-raised">
                        Entrar
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</md-content>