<md-toolbar class="md-whiteframe-z1" ng-hide="$toolbar.isSearch || $system.isForm()">
    <div class="md-toolbar-tools container">
        <!-- Logo -->
        <a class="logo" ui-sref="timeline" ui-sref-opts="{ reload: true }">
            <img src="asset/logo">
            <h1 class="md-title" flex>Papagaio</h1>
        </a>

        <!-- Espaçador -->
        <div flex></div>

        <!-- Botão pesquisar -->
        <md-button class="md-icon-button" aria-label="Pesquisar" ng-click="$toolbar.isSearch = true">
            <md-icon md-font-icon="mdi-magnify"></md-icon>
            <md-tooltip>Pesquisar</md-tooltip>
        </md-button>

        <!-- Botão notificações -->
        <md-button class="md-icon-button" aria-label="Notificações" ui-sref="notifications"
                   ng-if="$toolbar.authenticated">
            <md-icon md-font-icon="mdi-bell-ring" ng-show="$system.unreadNotifications"></md-icon>
            <md-icon md-font-icon="mdi-bell" ng-hide="$system.unreadNotifications"></md-icon>

            <span class="toolbar-counter"
                  ng-show="$system.unreadNotifications">
                {{ $system.unreadNotifications }}
            </span>

            <md-tooltip>Notificações</md-tooltip>
        </md-button>

        <!-- Menu do usuário logado -->
        <md-menu ng-if="$toolbar.authenticated">
            <!-- Foto do usuário -->
            <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
                <img ng-src="{{ $system.user.photo.url }}" class="toolbar-user-picture">
                <md-tooltip>
                    Perfil e configurações
                </md-tooltip>
            </md-button>

            <!-- Opções do menu -->
            <md-menu-content>
                <md-menu-item class="md-2-line">
                    <md-button ng-click="$toolbar.call( 'profile' )">
                        <div>{{ $system.user | username }}</div>
                        <small>Ver perfil</small>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$toolbar.call( 'config' )">
                        Configurações
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$toolbar.call( 'logout' )">
                        Sair
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<md-toolbar class="md-whiteframe-z1" md-theme="search" ng-if="$toolbar.isSearch">
    <div class="md-toolbar-tools container">
        <md-button class="md-icon-button" ng-click="$toolbar.isSearch = false" aria-label="Cancelar pesquisa">
            <md-icon md-font-icon="mdi-arrow-left"></md-icon>
        </md-button>

        <md-autocomplete class="search-input" flex
                         placeholder="Pesquisar..."
                         md-autofocus="true"
                         md-item-text="item.display"
                         md-search-text="$toolbar.searchTerm"
                         md-delay="80"
                         md-min-length="2"
                         md-search-text-change="null"
                         md-selected-item-change="$toolbar.selectResult( item )"
                         md-items="item in $toolbar.search( $toolbar.searchTerm )"
                         md-theme="default"
        >
            <md-item-template>
                <span md-highlight-text="$toolbar.searchTerm" md-highlight-flags="i">
                    {{ item.display }}
                </span>
            </md-item-template>
            <md-not-found>
                Nenhum resultado encontrado para "{{ $toolbar.searchTerm }}"
            </md-not-found>
        </md-autocomplete>
    </div>
</md-toolbar>

<md-toolbar ng-show="$system.isForm()">
    <div class="md-toolbar-tools container">
        <!-- Botão voltar -->
        <md-button class="md-icon-button" ng-click="$system.back()" ng-disabled="$system.loading()" aria-label="Voltar">
            <md-icon md-font-icon="mdi-arrow-left"></md-icon>
        </md-button>

        <!-- Título da página -->
        <h1 class="md-title">{{ $system.title() }}</h1>

        <!-- Espaçador -->
        <div flex></div>

        <!-- Botão de ação do formulário -->
        <md-button class="md-icon-button" ng-click="$system.formAction()()" ng-disabled="$system.loading()" aria-label="Salvar">
            <md-icon md-font-icon="mdi-check"></md-icon>
        </md-button>
    </div>
</md-toolbar>