/* Toolbar
   ============================================================================================== */

/* Logo
   ---- */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  > * {
    margin-left: 6px;
    margin-right: 6px;

    + * {
      margin-left: 0;
    }
  }

  img {
    width: 64px;
  }

  h1 {
    line-height: 2;
  }
}

/* Foto do usuário
   --------------- */
.toolbar-user-picture {
  width: 46px;
  height: 46px;
  vertical-align: middle;
  border-radius: 50%;
}

/* Counter
   ------- */
.toolbar-counter {
  position: absolute;
  top: 50%;
  left: 50%;
  width: @toolbar-counter-size * 1.2;
  height: @toolbar-counter-size + 4px;
  padding: 2px 2px 1px;
  background: @theme-warning-800;
  line-height: 1;
  font-size: @toolbar-counter-size;
  border-radius: 3px;
}