<form name="$signup.form" ng-submit="$signup.submit()" novalidate>
    <md-message ng-if="$signup.loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </md-message>

    <fieldset ng-disabled="$signup.disabled">
        <!-- Usuário -->
        <md-input-container>
            <label>Usuário</label>
            <input type="text" required name="user"
                   ng-model="$signup.user.username"
                   ng-pattern="$signup.usernameRegex">

            <div ng-messages="$signup.form.user.$error" ng-show="$signup.form.user.$touched">
                <div ng-message="required">Campo obrigatório.</div>
                <div ng-message="pattern">Use apenas caracteres A-Z, 0-9, _ e pontos.</div>
            </div>
        </md-input-container>

        <!-- E-mail -->
        <md-input-container>
            <label>E-mail</label>
            <input type="email" required name="email"
                   ng-model="$signup.user.email">

            <div ng-messages="$signup.form.email.$error" ng-show="$signup.form.email.$touched">
                <div ng-message="required">Campo obrigatório.</div>
                <div ng-message="email">Digite um e-mail.</div>
            </div>
        </md-input-container>

        <!-- Senha -->
        <md-input-container>
            <label>Senha</label>
            <input type="password" required name="password"
                   ng-model="$signup.user.password">

            <div ng-messages="$signup.form.password.$error" ng-show="$signup.form.password.$touched">
                <div ng-message="required">Campo obrigatório.</div>
            </div>
        </md-input-container>

        <!-- Enviar -->
        <md-button class="md-raised md-accent" ng-disabled="$signup.disabled">
            Increver-se no Papagaio
        </md-button>
    </fieldset>
</form>