md-icon {
  width: 1em;
  height: 1em;
  line-height: 1;
  font-size: @icon-size;

  &.md-display-1,
  &.md-display-2,
  &.md-display-3,
  &.md-display-4,
  .md-display-1 &,
  .md-display-2 &,
  .md-display-3 &,
  .md-display-4 & {
    font-size: 1em;
  }
}

.md-toolbar-tools md-icon {
  color: inherit;
}

.md-font {
  font-family: MaterialDesignIcons;
}