<!-- Mensagem de carregamento -->
<md-message ng-show="$system.loading()">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</md-message>

<!-- Formulário de configurações -->
<md-content ng-hide="$system.loading()">
    <div class="container">
        <md-card>
            <md-card-content>
                <form name="$config.form" layout="column" layout-padding layout-margin>
                    <section>
                        <header>
                            <h2>Conta</h2>
                        </header>

                        <!-- Nome de usuário -->
                        <md-input-container>
                            <label>Nome de usuário</label>
                            <input type="text" name="username" required ng-model="$config.data.username">

                            <div ng-messages="$config.form.username">
                                <div ng-message="$valid">
                                    O endereço para seu perfil será {{ $system.baseUrl() }}{{ $state.href( 'profile', {
                                        user: $config.data.username
                                    }) }}
                                </div>
                                <div ng-message="$invalid">Você deve preencher este campo.</div>
                            </div>
                        </md-input-container>

                        <!-- E-mail -->
                        <md-input-container>
                            <label>E-mail</label>
                            <input type="email" name="email" required ng-model="$config.data.email">

                            <div ng-messages="$config.form.email">
                                <div ng-message="$valid">Seu endereço de e-mail nunca será publicado.</div>
                                <div ng-message="$invalid">Digite um e-mail válido.</div>
                            </div>
                        </md-input-container>

                        <!-- Senha -->
                        <md-input-container>
                            <label>Senha</label>
                            <input type="password" name="password" ng-model="$config.data.password">

                            <div ng-messages="$config.form.password">
                                <div ng-message="$valid">
                                    Digite sua nova senha ou deixe este campo em branco
                                    para não alterar a senha atual.
                                </div>
                            </div>
                        </md-input-container>
                    </section>

                    <md-divider class="md-section-splitter"></md-divider>

                    <section>
                        <header>
                            <h2>Foto</h2>
                        </header>

                        <div layout="row" layout-padding layout-margin layout-align="start center">
                            <img ng-src="{{ $system.user.photo.url }}/120x120" class="md-user-avatar">
                            <div flex>
                                <p>
                                    Você pode alterar a foto da sua conto usando o campo abaixo.
                                    A dimensão da foto deve ser idealmente de 400x400.
                                </p>

                                <input type="file" file-model="$config.data.photo">
                            </div>
                        </div>
                    </section>
                </form>
            </md-card-content>
        </md-card>
    </div>
</md-content>