<div class="post-content">
    <!-- Texto da postagem -->
    <div class="post-text" ng-bind-html="post.text | linky | hashtag: true | mention: post"></div>

    <!-- Fotos da postagem, se houver -->
    <div class="post-images" ng-if=":: post.photos.length">
        <img ng-repeat="photo in post.photos"
             ng-src="{{:: photo.url }}"
             flex>
    </div>
</div>