<div class="post-actions">
    <a class="post-action post-action-with-count md-accent"
       ng-if="$actions.has( 'like' )"
       ng-click="$actions.like()"
       ng-class="{
            'post-action-active': $actions.post.liked
       }">
        <md-icon md-font-icon="mdi-star"></md-icon>
        <span class="post-action-count" ng-if="$actions.post.likesCount">
            {{ $actions.post.likesCount }}
        </span>

        <md-tooltip>{{ $actions.post.liked ? 'Descurtir' : 'Curtir' }}</md-tooltip>
    </a>

    <!-- Localização (simples) -->
    <span class="post-action" ng-if="$actions.has( 'location' ) && $actions.location">
        <md-icon md-font-icon="mdi-map-marker"></md-icon>
        <md-tooltip>{{ $actions.location }}</md-tooltip>
    </span>

    <!-- Localização (extenso) -->
    <span class="post-action" ng-if="$actions.has( 'location-full' ) && $actions.location">
        <md-icon md-font-icon="mdi-map-marker"></md-icon>
        <span>{{ $actions.location }}</span>
    </span>

    <a class="post-action" ui-sref="post(:: { id: $actions.post.id })"
       ng-if="$actions.has( 'link' )">
        <md-icon md-font-icon="mdi-link"></md-icon>
        <md-tooltip>
            Acessar o post
        </md-tooltip>
    </a>
</div>