<md-list>
    <!-- Post -->
    <md-list-item class="md-3-line" ng-repeat="post in $posts.posts">
        <!-- Foto do usuário -->
        <img ng-src="{{:: post.author.photo.url }}/40x40" class="md-avatar">
        <div class="md-list-item-text" >
            <div layout="row" layout-align="start center">
                <!-- Nome do usuário -->
                <h4 class="post-author" flex>
                    <a ui-sref="profile(:: { user: post.author.username })">
                        {{:: post.author | username }}
                    </a>
                </h4>

                <!-- Data da postagem -->
                <time>{{:: post.createdAt | timeAgo }}</time>
            </div>
            <post-content post="post"></post-content>

            <!-- Ações da postagem (responder, curtir, etc) -->
            <post-actions post=":: post"
                          actions=":: [ 'like', 'link', 'location' ]">
            </post-actions>
        </div>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>