/* Timeline
   ============================================================================================== */

/* Autor
   ----- */
.post-author a {
  color: inherit;
  text-decoration: none;
  opacity: .75;

  &:hover {
    color: @theme-default-700;
    text-decoration: underline;
    opacity: 1;
  }
}

/* Imagens
   ------- */
.post-images {
  margin-top: 12px;

  img {
    // width: auto;
    max-width: 100%;
  }
}

/* Ações
   ----- */
.post-actions {
  margin-top: .5em;
}

.post-action {
  display: inline-block;
  min-width: @action-icon-size + 1em;
  cursor: pointer;
  color: fade( #000, 35% );
  font-weight: bold;
  font-size: @action-font-size;
  transition: .1s linear color;

  + .post-action {
    margin-left: .75rem;
  }

  md-icon {
    color: inherit;
    font-size: @action-icon-size;
  }

  &:hover,
  &.post-action-active {
    color: @theme-default-700;
  }
}

/* Post único
   ---------- */
.post-single {
  .post-author {
    padding: 0 1em;
  }

  .post-content {
    margin-top: 1em;
  }

  .post-text {
    font-size: 1.5em;
  }

  .post-date {
    display: block;
    margin: 1em 0;
    font-size: .75em;
    opacity: .75;
  }
}