<div class="outer">
    <div class="header">
        <div class="container">
            <img class="logo" src="cid:logo">
            <h1 class="title">Papagaio</h1>
        </div>
    </div>
    <div class="main container">
        <p>Olá <strong>@{{ user.username }}</strong>,</p>

        <p>Você foi seguido por <a href="{{ follower.htmlUrl }}">@{{ follower.username }}</a>.</p>

        <div class="user-profile">
            <a href="{{ follower.htmlUrl }}">
                <img src="{{ follower.photo.url }}"
                     alt="Foto de @{{ follower.username }}"
                     class="photo"
                ><!--
            --></a>
            <h2>
                <a href="{{ follower.htmlUrl }}">
                    @{{ follower.username }}
                </a>
            </h2>
        </div>
    </div>
</div>