<div class="outer">
    <div class="header">
        <div class="container">
            <img class="logo" src="cid:logo">
            <h1 class="title">Papagaio</h1>
        </div>
    </div>
    <div class="main container">
        <p>Olá <strong>@{{ user.username }}</strong>,</p>

        <p>Você foi mencionado por <a href="{{ post.author.htmlUrl }}">@{{ post.author.username }}</a> em um post:</p>

        <p>{{ post.text }}</p>

        <a href="{{ post.htmlUrl }}">Veja este post completo no Papagaio</a>
    </div>
</div>