<md-icon md-font-icon="mdi-account-plus"></md-icon>
<div class="md-list-item-text">
    <div layout="row">
        <!-- Nome do usuário -->
        <h4 class="post-author" flex>
            <a ui-sref="profile(:: { user: notification.sender.username })">
                {{:: notification.sender | username }}
            </a>

            seguiu você
        </h4>

        <!-- Data da postagem -->
        <time>{{:: notification.object.createdAt | timeAgo }}</time>
    </div>
    <div class="notification-object">
        <img ng-src="{{:: notification.sender.photo.url }}/40x40"
             class="md-user-avatar">
    </div>
</div>