<md-icon md-font-icon="mdi-star"></md-icon>
<div class="md-list-item-text">
    <div layout="row">
        <!-- Nome do usuário -->
        <h4 class="post-author" flex>
            <a ui-sref="profile(:: { user: notification.sender.username })">
                {{:: notification.sender | username }}
            </a>

            curtiu seu post
        </h4>

        <!-- Data da postagem -->
        <time>{{:: notification.object.createdAt | timeAgo }}</time>
    </div>
    <div class="post-content">
        <!-- Texto da postagem -->
        <div class="post-text"
             ng-bind-html=":: notification.object.post.text | hashtag: true | mention: post">
        </div>

        <!-- Fotos da postagem, se houver -->
        <div class="post-images" ng-if=":: notification.object.post.photos.length">
            <img ng-repeat="photo in notification.object.post.photos"
                 ng-src="{{:: photo.url }}"
                 flex>
        </div>
    </div>
</div>