<!-- Loading -->
<md-message ng-if="!$notifications.list">
    <md-progress-circular md-mode="indeterminate">
    </md-progress-circular>
</md-message>

<!-- Aviso de nenhuma notificação -->
<md-message ng-if="$notifications.list" ng-hide="$notifications.list.length">
    <div class="md-display-3">
        <md-icon md-font-icon="mdi-bell-off"></md-icon>
    </div>
    <p>Parece que nenhum Papagaio cantou usando o seu nome...</p>
</md-message>

<!-- Lista de notificações -->
<md-content ng-show="$notifications.list.length">
    <div class="container">
        <md-card class="notifications">
            <md-list>
                <md-list-item class="md-2-line"
                              ng-repeat-start="notification in $notifications.list"
                              ng-class="{ 'notification-unread': notification.unread }"
                              ng-include="'app/notifications/type/' + ( notification.type | lowercase ) + '.html'">
                </md-list-item>
                <md-divider ng-repeat-end ng-if="!$last"></md-divider>
            </md-list>
        </md-card>
    </div>
</md-content>