/* Notificações
   ============================================================================================== */

.notification-unread {
  background: fade( @theme-default-50, 25% );
}

.notifications md-list-item {
  md-icon {
    margin: 22px 16px 0 16px;
  }

  .md-avatar:first-child {
    margin-top: 20px;
  }
}

.notification-object {
  margin-top: 1rem;
}