// -------------------------------------------------------------------------------------------------
// Imports
// -------------------------------------------------------------------------------------------------
@import "core/core.less";

@import "shared/material/avatar/avatar.less";
@import "shared/material/divider/divider.less";
@import "shared/material/icons/icons.less";
@import "shared/material/input/input.less";
@import "shared/material/list/list.less";
@import "shared/material/menu/menu.less";
@import "shared/material/toast/toast.less";
@import "shared/postsList/timeline.less";
@import "shared/search/search.less";
@import "shared/toolbar/toolbar.less";

@import "home/home.less";
@import "notifications/notifications.less";
@import "profile/profile.less";
@import "timeline/timeline.less";

// -------------------------------------------------------------------------------------------------
// Variáveis
// -------------------------------------------------------------------------------------------------
@body-bg: #f3f3f3;

// -------------------------------------------------------------------------------------------------
// Regras
// -------------------------------------------------------------------------------------------------
html {
  font-size: @font-size;
}

body {
  background: @body-bg;
}

md-card a {
  color: @theme-default-700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#main {
  background: transparent url( "/asset/illustration/fundot.png" );

  md-content {
    background: transparent;
  }
}

.container {
  @media ( min-width: 960px ) {
    max-width: 960px;
    margin: 0 auto;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

md-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-flow: column;
}

md-card-content {
  background: #fff;
}

.md-message-container {
  position: relative;

  md-message {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: inherit;
  }

  md-card-content& md-message {
    margin: -16px;
    background: #fff;
  }
}