@container-width: 500px;

@outer-bg:    #ddd;

@header-bg:   #4dbc7a;
@header-text: #fff;

@main-bg:     #fff;
@main-text:   #444;

@font-size:   16px;
@line-height: unit( 22px / @font-size );

@logo-size:   45px;

@photo-size:  40px;

// -------------------------------------------------------------------------------------------------

.outer {
  font-family: Arial, sans-serif;
  font-size: @font-size;
  line-height: @line-height;
  background: @outer-bg;

  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.container {
  width: @container-width;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 10px;
  color: @header-text;
  background: @header-bg;
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;
  color: @main-text;
  background: @main-bg;

  p {
    margin-bottom: .5em;
  }
}

.title {
  @title-font-size: @logo-size * .5;
  @title-padding: @logo-size - ( @title-font-size * @line-height );

  display: inline-block;
  padding: ( @title-padding / 2 ) 0;
  font-size: @title-font-size;
  vertical-align: middle;
}

.logo {
  width: @logo-size;
  height: @logo-size;
  vertical-align: middle;
}

.photo {
  width: @photo-size;
  height: @photo-size;
  border-radius: 50%;
}

.user-profile {
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}